extends layout

block content
  h1= title
  - var results = results ;
  div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm-2") dog name:#{item.dog_name}, dog breed:#{item.dog_breed}, dog cost:#{item.dog_cost}, dog color:#{item.dog_color}
  br
  h4= 'Bonus- Click on below for getting price'
  div(class="container-fluid")
    each dog ,index in results
      div(class="row", onclick=`buy(${index})`)
        div(class="col-sm-2") <br>dog  #{index}: #{dog.dog_name} breed:#{dog.dog_breed} cost:#{dog.dog_cost} color:#{dog.dog_color}

  script. 
        function buy(price){
          alert('You purchased item ' + price)
        }
